<%- include("header") -%>

    <!-- Angela HTML -->
    <div class="box" id="heading">
      <h1><%= ListTitle %></h1>
    </div>

    <div class="box">
      <ul>
        <% for(var i = 0; i < tasksAdded.length; i++){ %>
        <div class="item">
          <input type="checkbox" />
          <p><%= tasksAdded[i] %></p>
        </div>

        <% } %>
      </ul>

      <form action="/" method="post">
        <input
          type="text"
          name="new_value"
          placeholder="Add New Task"
          autocomplete="off"
        />
        <button type="submit" name="list" value=<%=ListTitle%> >+</button>
      </form>
    </div>
    
    <%- include("footer") -%>